main {
    display: flex;
}

main, header {
    margin: auto 7rem;
}

article {
    /*text-align: justify;*/
    padding-top: 1rem;
    padding-bottom: 1rem;
}

aside {
    width: 30%;
}

section {
    width: 70%;
}

h1 {
    margin: 1.5rem auto;
}