$active-link: #be305e
$secondary-color: #be305e
$body-color: #e2e1e0 //#efefef

$break-large: 1382px
$break-medium: 1240px
$break-small: 850px
$break-tiny: 460px

$body-font: Roboto

=box-sizing($value)
  -webkit-box-sizing: $value
  -moz-box-sizing: $value
  box-sizing: $value
