@import "globals"

@font-face
  font-family: OpenSans
  src: url("/static/fonts/OpenSans.ttf")

html, body
  height: 100vh

  @media screen and (max-width: $break-tiny)
    font-size: 15px

body
  overflow: auto

*
  margin: 0
  padding: 0
  +box-sizing(border-box)
  font-family: OpenSans

h1, h2, h3, h4, h5, h6
  font-family: OpenSans

body
  background: $body-color
  font-size: 1rem
  margin: 0 auto
  width: 90%

  @media screen and (max-width: $break-tiny)
    width: 100%

h1, h2, h3
  color: $secondary-color

h5, h6
  font-style: italic

header, main
  margin: 1rem 16rem
  padding: 0 1rem

  @media screen and (max-width: $break-large)
    margin: 1rem 12rem

  @media screen and (max-width: $break-medium)
    margin: 1rem 4rem

  @media screen and (max-width: $break-small)
    margin: 1rem 0rem

  @media screen and (max-width: $break-tiny)
    margin: 0
    padding: 0

main
  background-color: $body-color

header
  background-color: #fff
  display: flex
  text-align: center

  h1, nav
    display: inline-flex

  h1
    width: 60%

    @media screen and (max-width: $break-medium)
      width: 50%

    @media screen and (max-width: $break-small)
      width: 35%

    @media screen and (max-width: $break-tiny)
      display: none
      width: 0

  nav
    flex-direction: row
    justify-content: flex-end
    width: 40%

    ul
      display: flex
      justify-content: center
      list-style: none
      width: 100%

      li
        display: inline-block
        width: 33%

        a
          display: block
          padding: 1rem

    @media screen and (max-width: $break-medium)
      width: 50%

    @media screen and (max-width: $break-small)
      width: 65%

    @media screen and (max-width: $break-tiny)
      width: 100%

a
  text-decoration: none

  &:link
    color: #000

  &:visited
    color: #000

  &:hover
    color: #fff
    background-color: $secondary-color

