@font-face {
  font-family: OpenSans;
  src: url("/static/fonts/OpenSans.ttf"); }
html, body {
  height: 100vh; }
  @media screen and (max-width: 460px) {
    html, body {
      font-size: 15px; } }

body {
  overflow: auto; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: OpenSans; }

h1, h2, h3, h4, h5, h6 {
  font-family: OpenSans; }

body {
  background: #e2e1e0;
  font-size: 1rem;
  margin: 0 auto;
  width: 90%; }
  @media screen and (max-width: 460px) {
    body {
      width: 100%; } }

h1, h2, h3 {
  color: #be305e; }

h5, h6 {
  font-style: italic; }

header, main {
  margin: 1rem 16rem;
  padding: 0 1rem; }
  @media screen and (max-width: 1382px) {
    header, main {
      margin: 1rem 12rem; } }
  @media screen and (max-width: 1240px) {
    header, main {
      margin: 1rem 4rem; } }
  @media screen and (max-width: 850px) {
    header, main {
      margin: 1rem 0rem; } }
  @media screen and (max-width: 460px) {
    header, main {
      margin: 0;
      padding: 0; } }

main {
  background-color: #e2e1e0; }

header {
  background-color: #fff;
  display: flex;
  text-align: center; }
  header h1, header nav {
    display: inline-flex; }
  header h1 {
    width: 60%; }
    @media screen and (max-width: 1240px) {
      header h1 {
        width: 50%; } }
    @media screen and (max-width: 850px) {
      header h1 {
        width: 35%; } }
    @media screen and (max-width: 460px) {
      header h1 {
        display: none;
        width: 0; } }
  header nav {
    flex-direction: row;
    justify-content: flex-end;
    width: 40%; }
    header nav ul {
      display: flex;
      justify-content: center;
      list-style: none;
      width: 100%; }
      header nav ul li {
        display: inline-block;
        width: 33%; }
        header nav ul li a {
          display: block;
          padding: 1rem; }
    @media screen and (max-width: 1240px) {
      header nav {
        width: 50%; } }
    @media screen and (max-width: 850px) {
      header nav {
        width: 65%; } }
    @media screen and (max-width: 460px) {
      header nav {
        width: 100%; } }

a {
  text-decoration: none; }
  a:link {
    color: #000; }
  a:visited {
    color: #000; }
  a:hover {
    color: #fff;
    background-color: #be305e; }

/*# sourceMappingURL=base.css.map */
