#home-link {
  color: #fff;
  background-color: #be305e; }

section {
  display: flex;
  flex-wrap: wrap;
  text-align: center; }
  section article {
    background-color: #fff;
    display: block;
    margin: 1%;
    text-align: justify;
    width: 100%; }
    section article img {
      width: 100%;
      height: 100%; }
  section article.bio {
    padding: 1%; }

/*# sourceMappingURL=home.css.map */
