@import "globals"

#home-link
  color: #fff
  background-color: $secondary-color

section
  display: flex
  flex-wrap: wrap
  text-align: center

  article
    background-color: #fff
    display: block
    margin: 1%
    text-align: justify
    width: 100%

    img
      width: 100%
      height: 100%

  article.bio
    padding: 1%

