@charset "UTF-8";
section {
  display: flex;
  flex-wrap: wrap; }

article {
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  cursor: pointer;
  margin: 1%;
  width: 31%;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
  @media screen and (max-width: 460px) {
    article {
      width: 98%; } }
  article:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }
  article p, article h2 {
    margin: 1rem; }
  article p {
    text-align: justify; }
  article h2 {
    font-weight: 300; }
  article ul.tech {
    margin: 0.5rem 1rem 1rem;
    list-style: none;
    display: block; }
    article ul.tech li {
      margin: 0.2rem 0;
      display: inline-block; }

.tag-python, .tag-django, .tag-flask, .tag-vuejs, .tag-sass, .tag-android, .tag-golang {
  border-radius: 0.25rem;
  color: #fff;
  font-size: 75%;
  font-weight: 700;
  padding: 0.2rem 0.6rem 0.3rem;
  text-align: center; }

.tag-python {
  background-color: #f0ad4e; }

.tag-django {
  background-color: #5cb85c; }

.tag-flask {
  background-color: #777; }

.tag-vuejs {
  background-color: #d9534f; }

.tag-sass {
  background-color: #5bc0de; }

.tag-android {
  background-color: #d9534f; }

.tag-golang {
  background-color: #337ab7; }

#project-link {
  color: #fff;
  background-color: #be305e; }

.modal {
  cursor: default;
  left: 50%;
  height: auto;
  position: fixed;
  transform: translateX(-50%) translateY(-50%);
  top: 50%;
  visibility: hidden;
  width: 50%;
  z-index: 2000; }
  @media screen and (max-width: 850px) {
    .modal {
      width: 95%; } }
  .modal .close {
    cursor: pointer;
    font-size: 1.5rem;
    padding-right: 0.2rem;
    position: absolute;
    right: 0;
    top: 0; }
  .modal .content {
    display: block;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    padding: 1%;
    position: relative;
    opacity: 0;
    transition: all 0.3s;
    transform: scale(0.7);
    visibility: hidden; }
    .modal .content p, .modal .content ul, .modal .content h2, .modal .content h3 {
      margin: 1rem; }
    .modal .content p {
      text-align: justify; }
    .modal .content ul {
      list-style: none;
      li-display: block; }
      .modal .content ul li:before {
        content: "→";
        display: inline-block;
        padding-right: 0.4rem; }

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.1);
  height: 100%;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  transition: all 0.3s;
  visibility: hidden;
  width: 100%;
  z-index: 1000; }

.modal-shown {
  visibility: visible; }

.modal-shown ~ .modal-overlay {
  opacity: 1;
  visibility: visible; }

.modal-shown .content {
  transform: scale(1);
  opacity: 1;
  visibility: visible; }

/*# sourceMappingURL=projects.css.map */
