.timeline {
  border-left: 3px solid #000;
  display: block;
  margin: 1rem 4rem;
  list-style: none;
  width: 60%; }
  @media screen and (max-width: 1240px) {
    .timeline {
      margin: 1% 10%;
      width: 75%;
      margin: 1% 22% 1% 3%; } }
  @media screen and (max-width: 850px) {
    .timeline {
      margin: 1% 10% 1% 1%;
      width: 80%; } }
  @media screen and (max-width: 460px) {
    .timeline {
      margin: 1% 5%;
      width: 90%; } }
  .timeline li {
    margin-bottom: 1rem;
    padding: 0 2rem; }
    .timeline li:before {
      border-radius: 50%;
      background: none repeat scroll 0% 0% #fff;
      border: 5px solid #be305e;
      content: "";
      display: inline-block;
      height: 1rem;
      left: -3rem;
      position: relative;
      top: 1.3rem;
      width: 1rem; }
  .timeline p {
    padding: 1rem;
    text-align: justify; }

.skillset {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  margin: 1% 35% 1% 5%;
  width: 60%; }
  @media screen and (max-width: 1240px) {
    .skillset {
      margin: 1% 10%;
      width: 75%;
      margin: 1% 22% 1% 3%; } }
  @media screen and (max-width: 850px) {
    .skillset {
      margin: 1% 10% 1% 1%;
      width: 80%; } }
  @media screen and (max-width: 460px) {
    .skillset {
      margin: 1% 5%;
      width: 90%; } }
  .skillset li {
    display: inline-block;
    margin: 1.5%;
    padding: 0.5%;
    text-align: center;
    width: 29%; }
    .skillset li h4 {
      text-transform: uppercase;
      margin: 1rem 0; }
    .skillset li i {
      color: #be305e;
      padding: 0.5rem; }

section {
  background-color: #fff;
  margin: 1%; }

h2 {
  padding: 1rem; }

p {
  color: #aaa;
  line-height: 1.1rem;
  font-size: 0.9rem; }

#resume-link {
  color: #fff;
  background-color: #be305e; }

/*# sourceMappingURL=resume.css.map */
