<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Andres Ruiz personal site</title>
    <link rel="stylesheet" href="/static/stylesheets/base.css">
    <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css">

    <link rel="shortcut icon" href="/static/img/favicon.png" type="image/x-icon">
    {{block "links" .}} {{end}}
</head>
<body>
<header>
    {{block "header" .}}
    <h1>{{.Title}}</h1>
    <nav>
        <ul>
            <li><a id="home-link" href="/">Home</a></li>
            <li><a id="project-link" href="/projects/">Projects</a></li>
            <li><a id="resume-link" href="/resume/">Resume</a></li>
        </ul>
    </nav>
    {{end}}
</header>

<main>
    {{block "main" .}} {{end}}
</main>

<footer>
    {{block "footer" .}} {{end}}
</footer>

</body>
</html>