{{define "links"}}
<link href="https://fonts.googleapis.com/css?family=Rajdhani" rel="stylesheet">
<link rel="stylesheet" href="/static/stylesheets/home.css">
{{end}}

{{define "main"}}
<section>
    <article>
        <img src="http://lorempixel.com/1080/720/abstract/" alt="Image at random">
    </article>
    <article class="bio">
        <p>Hey there. Welcome. My name is Andrés Ruiz. In this site you can find
            a bit of what I do.
        </p>
        <br>

        <p>
            I currently live in rainy Seattle, enjoying the bodacious summers around trees
            and big mountains; Starcraft II is my drug of choice during the winter.
        </p>
        <br>

        <p>
            I believe that by responsibly harnessing and embracing today's technology,
            we can bridge the gaps and help solve the issues that beset our society
            these days.
        </p>
        <br>

        <p>
            If you have any questions please drop me a line:
            andresfelipe(two first letters of last name) at gmail.</p>
        </p>
    </article>
</section>
{{end}}
