{{define "links"}}
<link rel="stylesheet" href="/static/stylesheets/projects.css">
{{end}}

{{define "main"}}
<section>
    {{range $project := .Projects}}
    <article class="project">
        <h2>{{$project.Title}}</h2>
        <ul class="tech">
            {{range $technology := $project.Technologies}}
            <li class="tech-item"><span class="tag-{{$technology}}">{{$technology}}</span></li>
            {{end}}
        </ul>
        <p>
            {{$project.Body}}
        </p>
    </article>
    <div class="modal">
        <section class="content">
                <span class="close">
                    <i class="fa fa-times-circle" aria-hidden="true"></i>
                </span>
            <h3>Overview</h3>
            <p>
                {{$project.Overview}}
            </p>
            <h3>Main Features</h3>
            <ul>
                {{range $feature := $project.MainFeatures}}
                <li><span>{{$feature}}</span></li>
                {{end}}
            </ul>
            <h3>
                External Links
            </h3>
            <p>
                {{range $link := $project.ExternalLinks}}
                <a href="{{$link.Url}}" target="_blank">{{$link.Label}}</a> <br>
                {{end}}
            </p>
        </section>
    </div>
    {{end}}
    <div class="modal-overlay"></div>
</section>
{{end}}

{{define "footer"}}
<script>
    (function addProjectLinks() {
        const allProjects = document.querySelectorAll('.project');
        console.log(allProjects);
        allProjects.forEach(function (p) {
            p.addEventListener('click', function (evt) {
                /*
                * Because the modal is inside the article that is being clicked,
                * then any time the modal is showing, the click event goes to the
                * article. That is, here.  evt.target contains the element that
                * was clicked.
                */
                var article = evt.currentTarget;
                var modal = article.nextElementSibling;
                var close = modal.querySelector(".close");
                var overlay = document.querySelector(".modal-overlay");
                console.log(overlay);

                function closeModal() {
                    hideElement(modal);
                }

                function closeWhenEscape(evt) {
                    if (evt.keyCode === 27) {
                        hideElement(modal);
                        document.removeEventListener("keyup", closeWhenEscape);
                    }
                }

                // Bind escape key
                window.addEventListener('keyup', closeWhenEscape);

                close.addEventListener('click', function (evt) {
                    evt.stopPropagation();
                    closeModal();
                });

                overlay.addEventListener('click', function (evt) {
                    console.log(evt);
                    closeModal();
                });

                showElement(modal);
            });
        });
    })();

    function showElement(element) {
        element.classList.add('modal-shown');
    }

    function hideElement(element) {
        element.classList.remove('modal-shown');
    }


    function closeClick(modal) {
        console.log(modal);
        hideElement(modal);
    }
</script>
{{end}}
